[Interface]
Address = {{ wireguard_server_address }}
ListenPort = {{ wireguard_listen_port }}
PrivateKey = {{ _wireguard_private_key.content | b64decode | trim }}
{% for peer in wireguard_peers %}

[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips | join(', ') }}
{% endfor %}
